<!-- <div class="justify-content-start"><strong>NATIONAL INSTITUTE OF TECHNOLOGY KURUKSHETRA</strong></div> -->
<div class="d-flex justify-content-end p-1"><div><img height=100% width=40em (mouseover)="image($event)" (click)="profile()" (mouseleave)="image_out($event)" src="../../assets/images/profile.jpg" alt="nvm"/></div></div>
<body>
      <!-- <div class="row" id="ashu">
        <div class="col-6 card btn btn-primary  option" (click)="worker($event)" style="font-size:1em;background-color:red;opacity:1" (mouseover)="mouse($event)" (mouseleave)="mouse_out($event)" id="plumber"><b style="position:absolute;top:40%;left:30%;right:30%;font-size:1.5vw">Plumber</b></div>
        <div class="col-6 card btn btn-primary  option"  (click)="worker($event)" style="color:black;font-size:1em;background-color:white;opacity:1" (mouseover)="mouse($event)" (mouseleave)="mouse_out($event)" id="electrician"><b style="position:absolute;top:40%;left:30%;right:30%;font-size:1.5vw">Electrician</b></div>
        <div class="col-6 card btn btn-primary  option"  (click)="worker($event)" style="font-size:1em;background-color:darkblue;opacity:1" (mouseover)="mouse($event)" (mouseleave)="mouse_out($event)" id="carpenter"><b style="position:absolute;top:40%;left:30%;right:30%;font-size:1.5vw">Carpenter</b></div>
        <div class="col-6 card btn btn-primary  option"  (click)="worker($event)" style="font-size:1em;background-color:rgb(54, 4, 54);opacity:1" (mouseover)="mouse($event)" (mouseleave)="mouse_out($event)" id="other"><b style="position:absolute;top:40%;left:30%;right:30%;font-size:1.5vw">Other</b></div>
      </div> -->
      <div  id="ashu">
        <div  class="style" (click)="worker($event)" style="font-size:1em;background-image:url('../../assets/images/images\ \(3\).jpeg');opacity:1" (mouseover)="mouse($event)" (mouseleave)="mouse_out($event)" id="plumber"></div>
        <div  class="style" (click)="worker($event)" style="font-size:1em;background-image:url('../../assets/images/images.png');opacity:1" (mouseover)="mouse($event)" (mouseleave)="mouse_out($event)" id="electrician"></div>
        <div  class="style" (click)="worker($event)" style="font-size:1em;background-image:url('../../assets/images/download.jpeg');opacity:1" (mouseover)="mouse($event)" (mouseleave)="mouse_out($event)" id="carpenter"></div>
        <div  class="style" (click)="worker($event)" style="font-size:1em;background-image:url('../../assets/images/download\ \(2\).png');opacity:1" (mouseover)="mouse($event)" (mouseleave)="mouse_out($event)" id="other"></div>
      </div>
</body>
